[user]
	email = sumanthrao1997@gmail.com
	name = sumanth nagulvancha

[core]
	editor = nvim
	pager =  delta

[merge]
	tool = meld

[interactive]
  diffFilter = delta --color-only

[delta]
	features = villsau

[diff]
  colorMoved = default

[delta "villsau"]
  # modifed from author: https://github.com/torarnv
  dark = true
  file-style = omit
  keep-plus-minus-markers = true
  hunk-header-decoration-style = omit
  hunk-header-file-style = brightblue
  hunk-header-line-number-style = blue
  hunk-header-style = file line-number syntax
  line-numbers = false
  minus-emph-style = bold red 52
  minus-empty-line-marker-style = normal "#3f0001"
  minus-non-emph-style = dim red
  minus-style = bold red
  plus-emph-style = bold green 22
  plus-empty-line-marker-style = normal "#002800"
  plus-non-emph-style = dim green
  plus-style = bold green
  syntax-theme = OneHalfDark
  whitespace-error-style = reverse red
  zero-style = dim syntax
